body {
  font-family: Arial, sans-serif;
}

h3 {
  color: blue;
}

h4 {
  font-weight: bold;
}

.type{
color: red;
font-weight: bold;
}

.lab-title {
font-weight: 100;
font-style: italic;
}
#tooltip {
position: absolute;
opacity: 0;
z-index: 999;
background-color: #ffffff;
border: 1px solid black;
padding: 8px;
}
.selected {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 1px;
}